# Life Insurance Risk Classification
The goal of this exploration is to train a model that can accurately estimate life insurance risk levels for an individual based on data from the Prudential Life Insurance Assessment Kaggle competition. The original competition data can be found here: https://www.kaggle.com/c/prudential-life-insurance-assessment

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
life_insurance_data = pd.read_csv('train.csv.zip')
life_insurance_data.head()

,Id,Product_Info_1,Product_Info_2,Product_Info_3,Product_Info_4,Product_Info_5,Product_Info_6,Product_Info_7,Ins_Age,Ht,...,Medical_Keyword_40,Medical_Keyword_41,Medical_Keyword_42,Medical_Keyword_43,Medical_Keyword_44,Medical_Keyword_45,Medical_Keyword_46,Medical_Keyword_47,Medical_Keyword_48,Response
0,2,1,D3,10,0.076923,2,1,1,0.641791,0.581818,...,0,0,0,0,0,0,0,0,0,8
1,5,1,A1,26,0.076923,2,3,1,0.059701,0.600000,...,0,0,0,0,0,0,0,0,0,4
2,6,1,E1,26,0.076923,2,3,1,0.029851,0.745455,...,0,0,0,0,0,0,0,0,0,8
3,7,1,D4,10,0.487179,2,3,1,0.164179,0.672727,...,0,0,0,0,0,0,0,0,0,8
4,8,1,D2,26,0.230769,2,3,1,0.417910,0.654545,...,0,0,0,0,0,0,0,0,0,8

In [3]:
life_insurance_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59381 entries, 0 to 59380
Columns: 128 entries, Id to Response
dtypes: float64(18), int64(109), object(1)
memory usage: 58.0+ MB

In [4]:
life_insurance_data.columns

Index(['Id', 'Product_Info_1', 'Product_Info_2', 'Product_Info_3',
       'Product_Info_4', 'Product_Info_5', 'Product_Info_6', 'Product_Info_7',
       'Ins_Age', 'Ht',
       ...
       'Medical_Keyword_40', 'Medical_Keyword_41', 'Medical_Keyword_42',
       'Medical_Keyword_43', 'Medical_Keyword_44', 'Medical_Keyword_45',
       'Medical_Keyword_46', 'Medical_Keyword_47', 'Medical_Keyword_48',
       'Response'],
      dtype='object', length=128)

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
lbl = LabelEncoder()
life_insurance_data['Product_Info_2'] = lbl.fit_transform(life_insurance_data['Product_Info_2'])

In [7]:
life_insurance_data.head()

,Id,Product_Info_1,Product_Info_2,Product_Info_3,Product_Info_4,Product_Info_5,Product_Info_6,Product_Info_7,Ins_Age,Ht,...,Medical_Keyword_40,Medical_Keyword_41,Medical_Keyword_42,Medical_Keyword_43,Medical_Keyword_44,Medical_Keyword_45,Medical_Keyword_46,Medical_Keyword_47,Medical_Keyword_48,Response
0,2,1,16,10,0.076923,2,1,1,0.641791,0.581818,...,0,0,0,0,0,0,0,0,0,8
1,5,1,0,26,0.076923,2,3,1,0.059701,0.600000,...,0,0,0,0,0,0,0,0,0,4
2,6,1,18,26,0.076923,2,3,1,0.029851,0.745455,...,0,0,0,0,0,0,0,0,0,8
3,7,1,17,10,0.487179,2,3,1,0.164179,0.672727,...,0,0,0,0,0,0,0,0,0,8
4,8,1,15,26,0.230769,2,3,1,0.417910,0.654545,...,0,0,0,0,0,0,0,0,0,8

In [18]:
life_insurance_data.isnull().sum()

Id                         0
Product_Info_1             0
Product_Info_2             0
Product_Info_3             0
Product_Info_4             0
Product_Info_5             0
Product_Info_6             0
Product_Info_7             0
Ins_Age                    0
Ht                         0
Wt                         0
BMI                        0
Employment_Info_1         19
Employment_Info_2          0
Employment_Info_3          0
Employment_Info_4       6779
Employment_Info_5          0
Employment_Info_6      10854
InsuredInfo_1              0
InsuredInfo_2              0
InsuredInfo_3              0
InsuredInfo_4              0
InsuredInfo_5              0
InsuredInfo_6              0
InsuredInfo_7              0
Insurance_History_1        0
Insurance_History_2        0
Insurance_History_3        0
Insurance_History_4        0
Insurance_History_5    25396
                       ...
Medical_Keyword_20         0
Medical_Keyword_21         0
Medical_Keyword_22         0
Medical_Keyword_23         0
Medical_Keyword_24         0
Medical_Keyword_25         0
Medical_Keyword_26         0
Medical_Keyword_27         0
Medical_Keyword_28         0
Medical_Keyword_29         0
Medical_Keyword_30         0
Medical_Keyword_31         0
Medical_Keyword_32         0
Medical_Keyword_33         0
Medical_Keyword_34         0
Medical_Keyword_35         0
Medical_Keyword_36         0
Medical_Keyword_37         0
Medical_Keyword_38         0
Medical_Keyword_39         0
Medical_Keyword_40         0
Medical_Keyword_41         0
Medical_Keyword_42         0
Medical_Keyword_43         0
Medical_Keyword_44         0
Medical_Keyword_45         0
Medical_Keyword_46         0
Medical_Keyword_47         0
Medical_Keyword_48         0
Response                   0
dtype: int64

In [21]:
cleaned_data = life_insurance_data.dropna(axis=1)

In [10]:
X = life_insurance_data.drop(['Id', 'Response'], axis=1)
y = life_insurance_data['Response']

In [11]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [13]:
rfc = RandomForestClassifier(n_estimators=200, n_jobs=4)
rfc.fit(X_train, y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').